@import '../../scss/utils.scss';

.lab_sidebar {
    background-color: #b3d3dd;
    width: 35rem;
    padding: 2rem 2rem;
}

.select_label {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;

    font-family: $pt-serif-family;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.select {
    font-family: $pt-serif-family;
    font-size: 1.8rem;
}
