$dark-blue-1: #303c4b;
$dark-blue-2: #222b36;

// $light-grey-1: #C0CAC9;
$light-grey-1: #e9f3f2;

$light-purple-1: #D8DFF1;


/* font sizes */
$title-size: 5.6rem;

/* font families */
$montserrat-family: montserrat, arial;
$pt-serif-family: 'PT Serif', arial;